<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- הרשאות -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ronilesapp"
        tools:targetApi="31">
        <activity
            android:name=".singleTaskActivity"
            android:exported="false" />
        <!-- מסך הכניסה הראשי -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- מסך הרשמה -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- מסך ברוכים הבאים -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" /> <!-- מסך משתמש פרטי -->
        <activity
            android:name=".userActivity"
            android:exported="false" /> <!-- מסך משימות -->
        <activity
            android:name=".TasksActivity"
            android:exported="false" /> <!-- מסך יצירת משימה חדשה -->
        <activity
            android:name=".Item_TaskActivity"
            android:exported="false" />
    </application>

</manifest>